<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Log In</h2>
      <hr />
        {{#if errorMessage}}
            <div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div>
        {{/if}}
      <form method="post" action="/login">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input
                class="form-control"
                id="username"
                name="username"
                type="text"
                placeholder="User Name"
                required=""
                value=""
                autofocus="autofocus"
                tabindex="1"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input
                class="form-control"
                id="password"
                name="password"
                type="password"
                placeholder="Password"
                required=""
                tabindex="2"
              />
            </div>
          </div>
        </div>
        <input type="submit" class="btn btn-success pull-right" value="Login" />
      </form>
    </div>
  </div>
</div>