<div class="container">
  <div class="row">
    <div class="col-md-12">
        {{#if errorMessage}}
            <div class="alert alert-danger"> <strong>Error:</strong> {{errorMessage}}</div>
        {{/if}}
        {{#if successMessage}}
            <div class="alert alert-success"> <strong>Success:</strong> {{successMessage}}</div>
        {{/if}}
      <h2>Register</h2>
      <hr />
      <form method="post" action="/register">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input
                class="form-control"
                id="username"
                name="username"
                type="text"
                placeholder="User Name"
                required=""
                value=""
                autofocus="autofocus"
                tabindex="1"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input
                class="form-control"
                id="password"
                name="password"
                type="password"
                placeholder="Password"
                required=""
                tabindex="2"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input
                class="form-control"
                id="password2"
                name="password2"
                type="password"
                placeholder="Confirm Password"
                required=""
                tabindex="3"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input
                class="form-control"
                id="email"
                name="email"
                type="email"
                placeholder="Email Address"
                required=""
                tabindex="4"
              />
            </div>
          </div>
        </div>
        <input
          type="submit"
          class="btn btn-success pull-right"
          value="Register"
          tabindex="5"
        />
      </form>
    </div>
  </div>
</div>